
.gf-section-start {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.gf-section-start h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.gf-section-start:hover {
    background-color: #f1f1f1;
}

.gf-section-end {
    display: none; /* Hide by default */
    transition: max-height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}
    